@import "./variables.scss";

@keyframes hamtop {
  from {
    transform: translateY(0) rotate(0);
    transform-origin: left;
  }

  to {
    transform: translateY(9px) rotate(45deg);
  }
}

@keyframes hammiddle {
  from {
    display: block;
    opacity: 100%;
  }

  to {
    display: none;
    opacity: 0;
  }
}

@keyframes hambottom {
  from {
    transform: translateY(0) rotate(0);
    transform-origin: left;
  }

  to {
    transform: translateY(-9px) rotate(-45deg);
  }
}

@keyframes top-reverse {
  from {
    transform: translateY(9px) rotate(45deg);
  }

  to {
    transform: translateY(0) rotate(0);
    transform-origin: left;
  }
}

@keyframes mid-reverse {
  from {
    display: none;
    opacity: 0;
  }

  to {
    display: block;
    opacity: 100%;
  }
}

@keyframes bot-reverse {
  from {
    transform: translateY(-9px) rotate(-45deg);
  }

  to {
    transform: translateY(0) rotate(0);
    transform-origin: left;
  }
}

@keyframes slideshow {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
