@import "./variables.scss";
@import "./mixins.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: $neema-main-color;
  font-weight: 400;
  font-size: 1.8rem;
  font-family: $poppins;
  overflow-x: hidden;
}

.header {
  padding: 3.2rem 2.4rem 3.2rem 2.4rem;
  @include for-tablet-portrait-up {
    padding: 4rem 3.2rem;
  }
  @include for-laptop-up {
    padding: 6.4rem;
  }
}

section,
footer {
  padding: 4.8rem 2.4rem 4.8rem 2.4rem;
  @include for-tablet-portrait-up {
    padding: 4.8rem 3.2rem;
  }
  @include for-laptop-up {
    padding: 9.6rem 6.4rem;
  }
}

a {
  text-decoration: none;
  color: $neema-white;
}

ul {
  list-style: none;
}
