@import "./variables.scss";
@import "./general.scss";
@import "./animations.scss";
@import "./mixins.scss";
// Neema Pharmacy ///////////////////////////////////

.header {
  background-color: $neema-main-color;
  color: $neema-white;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 800;
  letter-spacing: 0.6px;
  font-size: 2rem;

  @include for-tablet-portrait-up {
    font-size: 3rem;
  }

  @include for-laptop-up {
    font-size: 4.8rem;
  }
}

.nav-list {
  display: none;
  @include for-laptop-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
}

.hamburger-menu {
  position: absolute;
  right: 2.4rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  @include for-tablet-portrait-up {
    right: 3.2rem;
  }
  @include for-laptop-up {
    display: none;
  }

  span {
    height: 3px;
    width: 30px;
    background-color: $neema-white;
    display: block;
    margin: 6px 0;
    border-radius: 24px;
  }

  .top.clicked {
    animation: 1s forwards hamtop;
  }
  .middle.clicked {
    animation: 0.5s forwards hammiddle;
  }
  .bottom.clicked {
    animation: 1s forwards hambottom;
  }

  .top.unclicked {
    animation: 1s forwards top-reverse;
  }

  .middle.unclicked {
    animation: 0.5s forwards mid-reverse;
  }

  .bottom.unclicked {
    animation: 1s forwards bot-reverse;
  }
}

.mobile-nav-list {
  position: absolute;
  background-color: $neema-main-color;
  right: -5%;
  top: 100%;
  padding: 2.4rem 4.8rem;
  transition: all 0.5s ease-in-out;

  @include for-laptop-up {
    display: none;
  }

  .mobile-nav-item {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}

.mobile-nav-list.inactive {
  right: -50%;
}

// Hero Section

.hero-flex {
  display: flex;
  flex-direction: column;
}

.prim-heading {
  font-size: 2.4rem;
  // text-align: center;
  line-height: 1.5;
  margin-bottom: 2rem;
  @include for-tablet-portrait-up {
    font-size: 2.8rem;
    margin-bottom: 3.2rem;
  }
  @include for-laptop-up {
    font-size: 4.8rem;
    margin-bottom: 4rem;
  }
  span {
    color: $neema-skinema-color;
  }
}

.btn-container {
  display: flex;
  gap: 1.6rem;

  @include for-laptop-up {
    gap: 3.2rem;
  }

  .btn {
    border: none;
    background: none;
    cursor: pointer;
  }

  .learn-more {
    border: 1px solid $neema-main-color;
    height: 35px;
    width: 100px;
    border-radius: 30px;
    color: $neema-main-color;
    font-weight: 400;
    @include for-tablet-portrait-up {
      height: 40px;
      width: 120px;
    }

    @include for-laptop-up {
      height: 60px;
      width: 140px;
      border-radius: 50px;
    }
    .btn-link {
      color: $neema-main-color;
      font-size: 1.4rem;
      @include for-tablet-portrait-up {
        font-size: 1.6rem;
      }
    }
  }

  .skinema {
    background-color: $neema-skinema-color;
    height: 36px;
    width: 101px;
    border-radius: 24px;
    color: $neema-white;
    font-weight: 400;
    @include for-tablet-portrait-up {
      height: 41px;
      width: 121px;
    }

    @include for-laptop-up {
      height: 61px;
      width: 141px;
      border-radius: 50px;
    }
    .btn-link {
      font-size: 1.4rem;
      @include for-tablet-portrait-up {
        font-size: 1.6rem;
      }
    }
  }
}

// About Section

.sec-heading {
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
  @include for-tablet-portrait-up {
    font-size: 2.8rem;
  }
  @include for-laptop-up {
    font-size: 4rem;
  }
}

.profile-container {
  width: 150px;
  height: 150px;
  background-image: url(../../imgs/img1-compress.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 100px;
  border: 1px solid $neema-skinema-color;
  margin: 0 auto 3.2rem auto;

  @include for-tablet-portrait-up {
    width: 200px;
    height: 200px;
  }

  @include for-laptop-up {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin-bottom: 6.4rem;
  }
}

.sec-paragraph {
  font-size: 1.2rem;
  line-height: 1.5;

  @include for-tablet-portrait-up {
    font-size: 1.4rem;
    line-height: 1.5;
  }

  @include for-laptop-up {
    font-size: 2rem;
    line-height: 1.75;
  }
}

// Skinema Section

#skinema {
  background-color: $neema-blue;
  color: $neema-white;

  .skinema-link {
    color: $neema-skinema-color;
  }
}

// Footer Section
#contact {
  background-color: $neema-main-color;
  color: $neema-white;

  .footer-heading {
    @extend .logo;
    text-align: center;
    margin-bottom: 4rem;

    @include for-laptop-up {
      margin-bottom: 6.4rem;
    }
  }

  .address-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;

    @include for-tablet-portrait-up {
      margin-bottom: 4rem;
    }
    @include for-laptop-up {
      margin-bottom: 6.4rem;
    }

    .address-list {
      font-size: 1rem;
      @include for-tablet-portrait-up {
        font-size: 1.4rem;
      }
      @include for-laptop-up {
        font-size: 2rem;
      }
    }

    .contact-list {
      @extend .address-list;
    }
  }
  .copyright-text {
    text-align: center;
    font-size: 0.8rem;

    @include for-tablet-portrait-up {
      font-size: 1.2rem;
    }

    @include for-laptop-up {
      font-size: 1.4rem;
    }

    a {
      text-decoration: underline;
    }
  }
}

///////SKINEMA PAGE ////////////////////////

.skinema-header {
  background-color: none;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.sk-hamburger-menu {
  @extend .hamburger-menu;
}

.sk-hero {
  background-color: #010;
  background-image: url("../../imgs/Group 2.png");
  background-size: cover;
  color: $neema-white;
}

.sk-logo {
  font-size: 3.2rem;
  font-weight: bold;

  @include for-tablet-portrait-up {
    font-size: 4.8rem;
  }

  @include for-laptop-up {
    font-size: 6.4rem;
  }
}

.sk.mobile-nav-list {
  background-color: transparent;
  font-weight: 800;
  text-align: right;
  top: 50%;
  letter-spacing: 0.6px;

  @include for-tablet-portrait-up {
    margin-right: 2rem;
  }

  .sk.mobile-nav-item {
    @include for-tablet-portrait-up {
      font-size: 1.4rem;
    }
  }
}

.sk-nav-list {
  @extend .nav-list;
}

.hero-container {
  width: 75%;
  .sk-prim-heading {
    @extend .prim-heading;
    line-height: 1.2;
    margin-bottom: 2rem;
  }

  .sk-prim-paragraph {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 3.2rem;

    @include for-tablet-portrait-up {
      font-size: 1.8rem;
    }

    @include for-laptop-up {
      font-size: 2rem;
    }
  }

  .sk-prim-link {
    font-size: 1rem;
    letter-spacing: 0.6px;
    position: relative;

    @include for-tablet-portrait-up {
      font-size: 1.4rem;
    }

    @include for-laptop-up {
      font-size: 1.6rem;
    }
  }

  .link-container {
    display: flex;
    gap: 2rem;

    @include for-tablet-portrait-up {
      gap: 3.2rem;
    }

    @include for-laptop-up {
      gap: 4rem;
    }
  }
}

.sk-prim-link::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #f6b986;
  border-radius: 100px;
  right: 0;
  top: 120%;
}

.sk-prim-link.order-link::after {
  background-color: #fd841f;
}
// Products section

.sk-products,
.sk-lab {
  background-color: $sk-main-color;
  color: $neema-white;
}

.sk-sec-heading {
  @extend .sec-heading;

  @include for-tablet-portrait-up {
    margin-bottom: 4rem;
  }

  @include for-laptop-up {
    margin-bottom: 6.4rem;
  }
}

.sk-product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  @include for-laptop-up {
    gap: 3.2rem;
  }
}

.grid-img-container {
  width: 150px;
  height: 140px;
  border: 1px solid $neema-skinema-color;

  @include for-tablet-portrait-up {
    width: 300px;
    height: 280px;
  }

  @include for-laptop-up {
    width: 450px;
    height: 400px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.grid-text {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;

  @include for-tablet-portrait-up {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  @include for-laptop-up {
    font-size: 3.2rem;
    margin-bottom: 3.2rem;
  }
}

.grid-text.link-below {
  margin-bottom: 1.4rem;

  @include for-tablet-portrait-up {
    margin-bottom: 3.2rem;
  }

  @include for-laptop-up {
    margin-bottom: 4.8rem;
  }
}

.grid-link {
  @extend .grid-text;
  position: relative;
}

.grid-link::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: $neema-skinema-color;
  top: 120%;
  right: 0;
}

// Lab

.sk-sec-paragraph {
  @extend .sec-paragraph;

  @include for-tablet-portrait-up {
    font-size: 1.8rem;
  }
  @include for-laptop-up {
    font-size: 2.4rem;
  }
}

// .lab-carousel-img {
//   height: 300px;
//   width: 300px;
//   text-align: center;
//   cursor: pointer;
//   transition: all 0.5s ease-in-out;
//   img {
//     width: 100%;
//   }
// }

.lab-grid-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  margin-bottom: 3.2rem;
  .lab-img {
    width: 130px;
    height: 110px;
    border: 1px solid $neema-skinema-color;

    @include for-tablet-portrait-up {
      width: 260px;
      height: 220px;
    }
    @include for-laptop-up {
      width: 520px;
      height: 440px;
    }
  }
}

// Contact

.sk-contact {
  background-color: $sk-light-bg;
  color: $sk-main-color;
}

.sk-contact-list {
  margin-bottom: 3.2rem;
}
.sk-contact-item {
  font-size: 1.2rem;

  @include for-tablet-portrait-up {
    font-size: 1.6rem;
  }

  @include for-laptop-up {
    font-size: 2rem;
  }
}

.sk-copyright-text {
  font-size: 0.8rem;
  text-align: center;

  @include for-tablet-portrait-up {
    font-size: 1.2rem;
  }

  @include for-laptop-up {
    font-size: 1.4rem;
  }

  a {
    color: $neema-skinema-color;
  }
}
