$neema-main-color: #0a2647;
$neema-skinema-color: #fd841f;
$neema-blue: #1d4b82;
$neema-white: #efefef;
$poppins: "Poppins", sans-serif;
$inter: "Inter", sans-serif;

$sk-main-color: #160b01;
$sk-light-bg: #fbe3cf;
$sk-accent-orange: #fd841f;
